body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.item {
  display: flex;
  text-align: center;
  align-items: center;
}

.container {
  display: flex;
}

.itemImagem {
  text-align: center;
  margin: 10px;
}
.itemImagemJavaScript {
  text-align: center;
  margin: 80px;
  width: 300px;

}

.Titulo{
justify-content: center
}

.container img {
  justify-content: center;
  width: 200px;
  height: auto;
  margin: 0 50px;
}
.titulo {
  text-align: center;
}
