body{

    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0%;
.item{
    text-align: center;
    margin: 10px;
}
}
.titulo{
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
}
.container img{
     width: 200px;
     height: auto;
     margin: 10px;
}
