body {
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 10%;
}
.item {
  text-align: center;
  margin: 10px;
}
.titulo {
    text-align: center;
  display: flex;
}
.container {
  display: flex;
}
.container img {
    justify-content: center;
  width: 200px;
  height: auto;
  margin: 0 50px;
}
